<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.fkit.mapper.ItTaskMapper">

	<select id="findWithCDateTime" resultType="org.fkit.domain.ItTask">
		<bind name="Keyword" value="'%'+ inputKeyword +'%'"/>
		SELECT 
		Rname_R, RDateTime, FDetail, DName_R, CDateTime, MtGrade, TIMESTAMPDIFF(MINUTE,RDateTime,CDateTime) AS TakingTime
		FROM ittasks 
		WHERE CDateTime BETWEEN #{inputStartDatetime} AND #{inputEndDatetime}
		<if test="inputKeyword !=null and inputKeyword !=''">
			AND CONCAT(Rname_R,FDetail,DName_R) LIKE #{Keyword}
		</if>
		ORDER BY CDateTime DESC
	</select>
	
</mapper>